[submodule "lib/minim"]
	path = lib/minim
	url = https://github.com/sjavis/minim
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
        ignore = dirty
