[submodule "lib/minim"]
	path = lib/minim
	url = https://github.com/sjavis/minim
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
        ignore = dirty
[submodule "test/gtest-mpi-listener"]
	path = test/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
